
main {

    display: flex;
    flex-direction: column;
}

header {

    width: 100%;
}

content {

    width: 100%;
}

footer {

    display: flex;
    justify-content: center;
    width: 100%;
    height: 60px;

    text-align: center;
}

.center {

    text-align: center;
}

.logo {

    height: 25%;
    margin: 10%;
}

#twitch {
    color: #6441a5;
}

#trovo {
    color: #3cdb7d;
}