* {
	color: var(--tg-theme-text-color);
	color: white;
	background-color: #111;
}

button.telegram {
	width: 100%;
	height: 100%;

	border: none;
	border-radius: 5px;

	background-color: var(--tg-theme-button-color);
	color: var(--tg-theme-button-text-color);

	background-color: lightskyblue;
	color: white;
}